#img1{
    width: 100px;
    height: auto;
    /* アニメーションの名前 */
    animation-name:UpDown;
    /* アニメーションの１回分の長さ */
    animation-duration: 1.5s;
    /* アニメーションの回数 */
    animation-iteration-count: infinite;
    /* アニメーションの進行具合 */
    animation-timing-function: ease-in-out;
    /* アニメーション再生の向き */
    animation-direction: alternate;
}
        /* アニメーションの設定 */
@keyframes UpDown{
    /* 開始地点 */
    0%{
    /* Y軸0px */
    transform: translateY(0);
    }
    /* 終了地点 */
    100%{
    /* Y軸50px */
    transform: translateY(20px);
    }
}
#div1{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    padding-top: 10px;
}
#p1{
    padding-left: 20px;
}
#p2{
    text-align: center;
}
#p3{
    margin-top: -35px;
}
#img2{
    width: 350px;
    height: auto;
    padding-top: 20px;
}
#img3{
    width: 200px;
    height: auto;
}

#anker{
    text-align: center;
}
#anker #in1{
    font-size: 32px;
    width: 80%;
    margin: 2rem auto 0 auto;
    border-radius: 2rem;
    padding: 1rem;
    background-color: rgba(159, 159, 159, 0.5);
    color: #fff;
}
#anker #in1:hover{
    background-color: rgba(224, 223, 223, 0.7);
}
body>form{
    text-align: center;
    color: #fff;
    margin-top: 1em;
    font-size: 1.5rem;
}