body{
    max-height: 884px;
}
img{
    width: 200px;
    height: auto;
}
h1{
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
    color: rgb(202, 202, 202);

}
p{
    line-height: 40px;
}
#mainimage{
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    gap:30%;
    
    
}
article{
    text-align: center;
}
h2{
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 40px;
    color: rgb(202, 202, 202);
    font-weight: bold;
}
textarea{
    margin-top: 10px;
    padding: 20px;
    background-color: rgb(209, 209, 209);
    font-size: 30px;
    text-align: left;
    
}

span{
    color: red;
    margin-left: 5px;
}

#imagebox{
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    gap:10%
}

#image2{
    padding-top: 150px;
}

#in2{
    display: inline-block;
    padding: 10px 70px;
    margin: 5px auto 0 auto;
    text-decoration: none;
    background-color: rgba(159, 159, 159, 0.5);
    border-bottom: solid 4px #606777;
    border-radius: 2rem;
    font-size: 20px;
    color: white;
}
#in2:hover {
    transition: all 0.3s ease;
    background-color: rgba(224, 223, 223, 0.7);
}
#in2:active {
    transform: translateY(4px);
    border-bottom: none;
    border-bottom: solid 4px rgba(255, 255, 255, 0);
    background-color: rgba(224, 223, 223, 0.7);
}
@media screen and (max-width:480px) {
    
    img{
        width: 100px;
        height: auto;
    }
    
    #NOTE_d{
        background-color:rgb(245, 255, 215);
        margin: 30px auto;
        padding: 20px;
        overflow-y: scroll;
        height: 50vh;
        width: 90vw;
        text-align: left;
    }
    #NOTE_d li{
        font-size: 16px;
        padding-left: 20px;
        border-bottom: solid 1px rgba(0,0,0,0.5);
        color: black;
        margin: 15px 0 ;
    }
    #text_01{
        font-size: 30px;
        font-weight: bold;
    }
    h1{
        font-size: 20px;
        font-weight: bold;
        padding-top: 5px;
        color: rgb(202, 202, 202);
    
    }
    
    p{
        line-height: 40px;
    }
    
    #mainimage{
        display: flex;
        flex: 0 1 auto;
        justify-content: center;
        gap:30%;
        
        
    }
    
    article{
        text-align: center;
    }
    
    
    

    
    textarea{
        width: 80%;
        height: 45vh;
        margin: 0 10px;
        padding: 20px;
        background-color: rgb(209, 209, 209);
        font-size: 15px;
        text-align: left;
        
    }
    
    span{
        color: red;
        margin-left: 5px;
    }
    
    #imagebox{
        display: flex;
        flex: 0 1 auto;
        justify-content: center;
        gap:10%;
        padding-bottom: 20px;
    
    }
    
    #image2{
        padding-top: 20px;
    }

    /* 保存ボタンの作成 */

    #anker {
        text-align: center;
    }
    #anker p {
        font-size: 15px;
        width: 30%;
        margin: 0.5rem auto 0 auto;
        border-radius: 2rem;
        background-color: rgba(159, 159, 159, 0.5);
        color: #fff;
    }
    #anker p:hover {
        background-color: rgba(224, 223, 223, 0.7);
    }

}