<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>正解</title>
    <link rel="stylesheet" href="../static/css/destyle.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/correct.css">
</head>
<body>
    <div id="div1">
        <p id="p3"><img src="../static/css/images/image%2020.png" alt="" id="img3"></p>
        <p id="p1"><img src="../static/css/images/image%2027.png" alt="" id="img1"></p>
    </div>
    <p id="p2"><img src="../static/css/images/correct.png" alt="" id="img2"></p>
    

    <!-- 次の画面へ -->
    <div id="anker">
        <form action="/study" method="get">
            <input type="submit" value="次の問題へ進む" id="in1">
        </form>
    </div>

    <!-- ホームへ -->
    <form action="/main" method="get">
        <input type="submit" value="ホームへ戻る" id="in2">
    </form>

    <!-- フッター -->
    <footer>
        <form action="/NOTE" method="get">
            <input type="image" src="../static/css/images/note.png">
        </form>
        <form action="/QUSTION INPUT" method="get">
            <input type="image" src="../static/css/images/teach.png">
        </form>
        <form action="/main" method="get">
            <input type="image" src="../static/css/images/home.png">
        </form>
        <form action="/study" method="get">
            <input type="image" src="../static/css/images/study.png">
        </form>
        <form action="/test" method="get">
            <input type="image" src="../static/css/images/character.png">
        </form>
    </footer>

    <!-- JavaScriptファイルの読み込み -->
    <script src="../static/js/correct.js"></script>
</body>
</html>
