<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
    <link rel="stylesheet" href="../static/css/destyle.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <div id="page">

        <!-- タイトル -->
        <p id="p1"><img src="../static/css/images/image%208.png" alt="" id="img1"></p>

        <!-- サムネキャラクター画像 -->
        <p id="p2"><img src="../static/css/images/image%207.png" alt="" id="img2"></p>
        <!-- <form action="/c-select" method="post"> -->

        <!-- STARTボタン -->
        <div id="anker">
                <form action="/c-select" method="post">
                    <input type="submit" value="START" id="p">
                </form>
                
                    <!-- ボタンを押した感じを実装できたらいい -->

        </div>
            <!-- </form> -->
    </div>
        
</body>
</html>