<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/destyle.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/NOTE_detail1.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <title>IT系NOTE</title>
</head>

<body>
    <main>
        <div id="mainimage">
            <h1>NOTE</h1>
            <img src="../static/css/images/note%20main.png" alt="メインの画像">
        </div>
        <article>

        <div id="NOTE_d">
            <p class="" placeholder="NOTEを入力" rows="20" cols="40">
                <ul>
                    <li id="text_01">CSSの練習１</li>
                    <li id="text_01">Lesson-1</li>                    <li>この見出しを細文字にする</li>
                    <li>この文章を赤色で表示</li>
                    <li>この文章を38pxで表示</li>
                    <li>この文章を斜体で表示ABCDEFG</li>
                    <li>この文章を太字で表示</li>
                    <li>この文章のフォントを明朝体で表示</li>
                    <li>この文章のフォントをゴシック体で表示</li>
                </ul>
            </p>
        </div>

        <form action="/NOTE KAKUNIN" method="get">
            <p><input type="submit" value="ノート確認画面へ戻る" id="in2"></p>
        </form>

    <!-- <div id="imagebox">
        <p><img src="../static/images/note image01.png" alt="画像"></p>
        <div id="image2">
        <p><img src="../static/images/note image 02.png" alt="画像2"></p>
        </div>
    </div> -->
        </article>
    </main>

    <footer>
        <form action="/NOTE" method="get">
            <input type="image" src="../static/css/images/note.png">
        </form>
        <form action="/QUSTION INPUT" method="get">
            <input type="image" src="../static/css/images/teach.png">
        </form>
        <form action="/main" method="get">
            <input type="image" src="../static/css/images/home.png">
        </form>
        <form action="/study" method="get">
            <input type="image" src="../static/css/images/study.png">
        </form>
        <form action="/test" method="get">
            <input type="image" src="../static/css/images/character.png">
        </form>
    </footer>
</body>
</html>