<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/destyle.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/NOTE OK.css">
    <link rel="stylesheet" href="../static/css/footer.css">
   
    
    <title>NOTE OK</title>
</head>
<body>

    

  <main>
          
          
    <div id="mainimage">
      <!-- <h1>NOTE <br>
        <br>
        入力完了!!</h1> -->
      <!-- <img src="../static/images/note main.png" alt="メインの画像"> -->
      
    </div>

    <div id="noteok">
      <h1>NOTE <br>
        <br>
        入力完了!!</h1>

    </div>

    
  
    <article>
    

        <!-- <textarea class="" placeholder="NOTEを入力" rows="20" cols="40"></textarea> -->
        
    </article>

    <article>
    
    <form action="/NOTE KAKUNIN" method="get">
      <p><input type="submit" value="ノート一覧" id="in"></p>
    </form>
      
    <form action="/main" method="get">
      <p><input type="submit" value="ホームへ戻る" id="in2"></p>
    </form>

    </article>

    <article>

      <div id="imagebox">
        <p><img src="../static/css/images/note%20image01.png" alt="画像"></p>
        <div id="image2">
        <p><img src="../static/css/images/note%20image%2002.png" alt="画像2"></p>
        </div>
      </div>

    </article>

          
    
  </main>

  <footer>
    <form action="/NOTE" method="get">
        <input type="image" src="../static/css/images/note.png">
    </form>
    <form action="/QUSTION INPUT" method="get">
        <input type="image" src="../static/css/images/teach.png">
    </form>
    <form action="/main" method="get">
        <input type="image" src="../static/css/images/home.png">
    </form>
    <form action="/study" method="get">
        <input type="image" src="../static/css/images/study.png">
    </form>
    <form action="/test" method="get">
        <input type="image" src="../static/css/images/character.png">
    </form>
</footer>


    
</body>
</html>