<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>通知画面</title>
  <link rel="stylesheet" href="../static/css/destyle.css">
  <link rel="stylesheet" href="../static/css/notif.css">
</head>

<body>

  <body>



  <!-- ホーム画面 -->
  <button onclick="showNotification()">通知を表示</button>

  <!-- 通知ページ -->
  <div id="notification" class="notification">
    <div class="close-btn" onclick="closeNotification()">×</div>
    <div class="content">
      <!-- 通知内容 -->
      <h1>通知</h1>
      <hr>
      <p>通知したい文1</p>
      <hr>
      <p>通知したい文2</p>
      <hr>
      <!-- 繰り返し -->
    </div>
  </div>
    <script src="../static/js/script.js"></script>
  </body>

</html>