<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>メイン</title>
    <link rel="stylesheet" href="../static/css/destyle.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <p id="p1"><img src="../static/css/images/image%20103.png" alt="" id="img1"></p>
    <p id="p2"><img src="../static/css/images/image%20101.png" alt="" id="img2"></p>
    <p id="p3"><img src="../static/css/images/image%208.png" alt="" id="img3"></p>
    <p id="p4"><img src="../static/css/images/note11.png" alt="" id="img4"></p>
    <p id="p5"><img src="../static/css/images/set.png" alt="" id="img5"></p>
    
    
    <footer>
        <form action="/NOTE" method="get">
            <input type="image" src="../static/css/images/note.png">
        </form>
        <form action="/QUSTION INPUT" method="get">
            <input type="image" src="../static/css/images/teach.png">
        </form>
        <form action="/main" method="get">
            <input type="image" src="../static/css/images/home.png">
        </form>
        <form action="/study" method="get">
            <input type="image" src="../static/css/images/study.png">
        </form>
        <form action="/personal_char_" method="get">
            <input type="image" src="../static/css/images/character.png">
        </form>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>