<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/destyle.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/QUSTION INPUT OK.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    
    <title>QUESTION INPUT</title>
</head>
<body>

    

  <main>
          
          <div id="mainimage">
            <img src="../static/css/images/mainimage-removebg-preview.png" alt="メインの画像">
            <div class="box">
              <P>入力完了！！<br>早速問題をPLAY!</p>
            </div>
          </div>
          
        
          <article>
          <form action="/study" method="get">
            <input type="submit" value="PLAY" id="anker">
          </form>
          <form action="/main" method="get">
            <input type="submit" value="ホームへ戻る" id="p4">
          </form>
          
              


          <article>

         



    

  </main>

  <footer>
    <form action="/NOTE" method="get">
        <input type="image" src="../static/css/images/note.png">
    </form>
    <form action="/QUSTION INPUT" method="get">
        <input type="image" src="../static/css/images/teach.png">
    </form>
    <form action="/main" method="get">
        <input type="image" src="../static/css/images/home.png">
    </form>
    <form action="/study" method="get">
        <input type="image" src="../static/css/images/study.png">
    </form>
    <form action="/test" method="get">
        <input type="image" src="../static/css/images/character.png">
    </form>
</footer>

    
</body>
</html>