<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/destyle.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/QUSTION INPUT.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    
    <title>QUESTION INPUT</title>
</head>
<body>
  <div id="div1">
    <p id="p1"><img src="../static/css/images/image%2019.png" alt="" id="img1"></p>
    <p id="p2"><img src="../static/css/images/image%207.png" alt="" id="img2"></p>
  </div>

  <form action="/QUSTION INPUT OK" method="post" id="form1">
    <div id="div2">
      <h2>問題</h2>
      <p><textarea placeholder="ここに入力" name="question" rows="8" cols="80" id="text1"></textarea></p>
    </div>
    <div id="div3">
      <h2>解答</h2>
      <p><input type="text" placeholder="ここに入力" name="answer" id="in1"></p>
    </div>
    <div id="div4">
      <h2>解説</h2>
      <p><textarea placeholder="ここに入力" name="ex" rows="8" cols="80" id="text2"></textarea></p>
    </div>
    <p><input type="submit" value="決定" id="in2"></p>
  </form>

    

  <!-- <main>
          
          <h1>QUSETION INPUT</h1>
          <div id="mainimage">
            <img src="../static/images/mainimage-removebg-preview.png" alt="メインの画像">
            <div class="box">
              <P>僕を鍛えてね<br>
              問題と解答を入力すればOK</P>
            </div>
          </div>
          
        
          <article>
          
              <h2>QUSETION</h2>
              <textarea class="" placeholder="ここに入力" rows="8" cols="80"></textarea>
              
          </article>

          <article>
            <div id="anser">
            <h2>ANSER</h2>
            <textarea class="" placeholder="ここに入力" rows="8" cols="80"></textarea>
            </div>
          
          </article>

          <article>
          
            <h2>解説</h2>
            <textarea class="" placeholder="ここに入力" rows="8" cols="80"></textarea>
          
          </article>



          <article>

          <input type="submit" value="決定" id="anker">

          </article>




    

  </main> -->

  <footer>
    <form action="/NOTE" method="get">
        <input type="image" src="../static/css/images/note.png">
    </form>
    <form action="/QUSTION INPUT" method="get">
        <input type="image" src="../static/css/images/teach.png">
    </form>
    <form action="/main" method="get">
        <input type="image" src="../static/css/images/home.png">
    </form>
    <form action="/study" method="get">
        <input type="image" src="../static/css/images/study.png">
    </form>
    <form action="/test" method="get">
        <input type="image" src="../static/css/images/character.png">
    </form>
</footer>

    
</body>
</html>