<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>設定画面</title>
    <link rel="stylesheet" href="../static/css/destyle.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/settei.css">
</head>
<body>
    <p>×</p>
<div id="btn_list">
    <form action="/templates/user_settei.html" method="get">
        <input type="submit" value="ユーザー設定" id="button">
    </form>
    <form action="" method="get">
        <input type="submit" value="サウンド" id="button">
    </form>
    <form action="" method="get">
        <input type="submit" value="お問い合わせ" id="button">
    </form>
    <form action="" method="get">
        <input type="submit" value="背景設定" id="button">
    </form>
</div>
</body>
</html>