<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study</title>
    <link rel="stylesheet" href="../static/css/destyle.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/study.css">
</head>
<body>
    <div id="div1">
        <p id="p3"><img src="../static/css/images/image%2020.png" alt="" id="img3"></p>
        <p id="p1"><img src="../static/css/images/image%2027.png" alt="" id="img1"></p>
    </div>
    <div id="div3">
        <p id="p6" class="TextTyping">{{value[num][0]}}</p>
        <!-- <p id="p2"><img src="../static/css/images/吹き出し.png" alt="" id="img2"></p> -->
    </div>
    <form action="/correct" method="post" id="form1">

        <!-- 解答入力テキストボックス -->
        <input type="text" name = "response" id="in1" value="{{response}}">

        <!-- 解答ボタン -->
        <div id="div2">
            <p id="p4"><input type="submit" value="answer" id="in2"></p>
    </form>

    <!-- あきらめるボタン -->
    <form action="/study" method="get">
            <p id="p5"><input type="submit" value="give up" id="in3"></p>
    </form>
        </div>
    
    
    
    <footer>
        <form action="/NOTE" method="get">
            <input type="image" src="../static/css/images/note.png">
        </form>
        <form action="/QUSTION INPUT" method="get">
            <input type="image" src="../static/css/images/teach.png">
        </form>
        <form action="/main" method="get">
            <input type="image" src="../static/css/images/home.png">
        </form>
        <form action="/study" method="get">
            <input type="image" src="../static/css/images/study.png">
        </form>
        <form action="/test" method="get">
            <input type="image" src="../static/css/images/character.png">
        </form>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>
</body>
</html>